<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Properties>
		<Property name="loglayout">
			<![CDATA[[%d{yyyy-MM-dd HH:mm:ss.SSS}] %-5p [%t] (%1c) : %m%n]]>
		</Property>
	</Properties>

	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="${loglayout}"/>
		</Console>

		<File name="FILE" fileName="${web:rootDir}/application.log">
			<PatternLayout pattern="${loglayout}"/>
		</File>
	</Appenders>

	<Loggers>

		<Logger name="com.opensymphony.xwork2" level="ERROR"/>
		<Logger name="org.apache.struts2" level="ERROR"/>
		<Logger name="freemarker" level="ERROR"/>

		<Root level="DEBUG">
			<AppenderRef ref="STDOUT"/>
			<AppenderRef ref="FILE"/>
		</Root>

	</Loggers>
</Configuration>